{% extends "simplecms/base.html" %}

{% block content %}
<dl>
				<dt>
                    About US:
				</dt>
				<dd>
                    iAmericanPhone wants to make a difference in world of luxury
				</dd>
                <dd>
                    We do have our own warranty and after sale service for our products.
                </dd>
                <dd>
                    we are not associated in any way with the manufacturers of the phone ,we just do customize them dissassembling them, Gold plating them and Re-Assemble them .

                </dd>
                <dd>
                    Because We are so confidence in the work with do ,we offer up to 1 year warranty and 2 years After sales service ,because we are not only good at customizing it ,but also technically we are so good ,that we sell real working phones ,not just golden toys... as phones being customized ,the manufacturers warranty wont cover the phones ,but We make a difference and we do offer our own warranty and protection for our products.
                </dd>
                <dd>
                    We are Not Mass Producers so ,We offer a low quanity of products and we also verify the genuinity of our products to make sure what you get is really ours .

                </dd>
                <dd>
                    So if you looking for a UNIQUE Gold phone,you are in the right place.

                </dd>
                <dd>
                    We have our own warranty system and we offer the highest quality of repair ,

                </dd>
                <dd>
                    and if your damage is not covered by our warranty ,we offer the repair service and you can contact us to purchase our repair service.

                </dd>
                <dd>
                    So You Can purchase with Condifence.


                </dd>
                <dd>
                    We also accept custom designs for our customers

                </dd>
                <dd>
                    so you can contact us for more details about it.

                </dd>
                <dd>
                    all of our phones are PROUDLY ASSEMBLED IN U.S.A.
                </dd>
			</dl>
{% endblock %}
